<div class="container mt-3 ">
    <p-toast></p-toast>
    <div class="border mjpad p-3">

        <div class="border p-2 mb-3">
            <div class="row">
                <div class="col">
                    <div class="mjflex">
                        <span class="w-25">Nombre de Tarea:</span>
                        <input *ngIf="tipo===1" class="form-control form-control-sm" type="text">
                        <span *ngIf="tipo===2">NDPP001</span>
                    </div>
                    <div class="my-3">
                        <span>Periodo Revisión</span>
                    </div>
                    <div class="row g-0">
                        <div class="col mjflex">
                            <span style="width: 35%">Fecha Inicio:</span>
                            <div *ngIf="tipo===1" style="width: 65%">
                                <input class="form-control form-control-sm" type="date">
                                <!--
                                <p-calendar [(ngModel)]="fecini" [ngClass]="'form-control-sm'"></p-calendar>
                                -->
                            </div>
                            <span *ngIf="tipo===2">2023-01-01</span>
                        </div>
                        <div class="col mjflex">
                            <span class="ms-5" style="width: 35%">Fecha Fin:</span>
                            <div *ngIf="tipo===1" style="width: 65%">
                                <input class="form-control form-control-sm" type="date">
                                <!--
                                <p-calendar [(ngModel)]="fecfin" [ngClass]="'form-control-sm'"></p-calendar>
                                -->
                            </div>
                            <span *ngIf="tipo===2">2023-02-01</span>
                        </div>
                    </div>
                </div>
                <div class="col mjflex">
                    <span class="me-3">Mensaje:</span>
                    <textarea *ngIf="tipo===1" class="form-control" rows="5"></textarea>
                    <textarea *ngIf="tipo===2" class="form-control" rows="5"> Realizar la revision de los articulos antes de terminar el inventario de fin de año</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 border-end">
                <div>
                    <div (click)="setpaso(1)" [ngClass]="{'activo':paso===1}"
                         class="stepper-content text-center fade-in">
                        Locales
                    </div>

                    <div (click)="setpaso(2)" [ngClass]="{'activo':paso===2}"
                         class="stepper-content text-center fade-in">
                        Muestra
                    </div>

                    <div (click)="setpaso(3)" [ngClass]="{'activo':paso===3}"
                         class="stepper-content text-center fade-in ">
                        Tipo cálculo
                    </div>

                    <div (click)="setpaso(4)" [ngClass]="{'activo':paso===4}"
                         class="stepper-content text-center fade-in">
                        Responsables
                    </div>

                    <div (click)="setpaso(5)" [ngClass]="{'activo':paso===5}"
                         class="stepper-content text-center fade-in">
                        Confirmación
                    </div>
                </div>
            </div>
            <div class="col-md border">
                <div [ngClass]="{'oculto':paso!==1}">
                    <app-locales [dosave]="dosave" [tipo]="tipo"></app-locales>
                </div>
                <div [ngClass]="{'oculto':paso!==2}">
                    <app-filtros [dosave]="dosave"></app-filtros>
                </div>
                <div [ngClass]="{'oculto':paso!==3}">
                    <app-periodo-calculo [dosave]="dosave"></app-periodo-calculo>
                </div>
                <div [ngClass]="{'oculto':paso!==4}">
                    <app-colaboradores [dosave]="dosave"></app-colaboradores>
                </div>
                <div [ngClass]="{'oculto':paso!==5}">
                    <app-confirmacion [doload]="dosave"></app-confirmacion>
                </div>

                <div *ngIf="tipo===1"  class="row ms-3">
                    <div class="col-md-10 p-fluid">
                        <div class="botones">
                            <button (click)="siguiente()" *ngIf="paso<5"
                                    class="btn btn-danger">Siguiente <i class="fa fa-arrow-right"></i>
                            </button>
                            <button (click)="anterior()" *ngIf="paso>1 && paso<=5"
                                    class="btn btn-danger" style="margin-right:15px;">Anterior <i class="fa fa-arrow-left"></i>
                            </button>
                            <button *ngIf="paso===5" style="margin-right:15px;" class="btn btn-danger">Crear
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>