.stepper-content{
    border: 1px solid #55595c;
    cursor: pointer;  
    color:#55595c;
    padding: 25px 10px;
    font-size: 20px;
    font-weight: bold;
}

.activo{
    background: #E74C3C;
    color: white;
}

.botones{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.mjpad{
    margin: -12px;
}

.mjflex{
    display: flex;
}
