<div class="container mt-3">
    <p-toast></p-toast>

    <div class="alldiv">

        <section class="barra border p-3">
            <p class="mt-1">Fecha inicio:</p>
            <div class="p-fluid" >
                <p-calendar [(ngModel)]="finicio" [showTime]="true"
                            [showSeconds]="true"  ></p-calendar>
            </div>
            <p class="mt-1">Fecha fin:</p>
            <div class="p-fluid">
                <p-calendar [(ngModel)]="ffin" [showTime]="true"
                            [showSeconds]="true"></p-calendar>
            </div>
            <div class="me-3">
                <p class="mt-1 text-center ">Formato:</p>
                <div class="table-container" style="max-height: 150px; overflow-y: auto;">
                    <p-table [value]="zona" [(selection)]="selectedZona" dataKey="code">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td style="padding: 4px;">
                                    <p-tableCheckbox [value]="product" style="transform: scale(0.5);"></p-tableCheckbox>
                                </td>
                                <td style="font-size: 12px;" >{{product.nombre}}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="me-3">
                <p class="mt-1 text-center ">Zona:</p>
                <div class="table-container" style="max-height: 150px; overflow-y: auto;">
                    <p-table [value]="zona" [(selection)]="selectedZona" dataKey="code">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td style="padding: 4px;">
                                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                </td>
                                <td style="font-size: 12px;">{{product.nombre}}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="me-3">
                <p class="mt-1 text-center ">Area Trabajo:</p>
                <div class="table-container" style="max-height: 150px; overflow-y: auto;">
                    <p-table [filters]="true" [value]="zona" [(selection)]="selectedZona" dataKey="code">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td style="padding: 4px;">
                                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                </td>
                                <td style="font-size: 12px;">{{product.nombre}}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="mt-2 d-flex flex-row-reverse bloquefiltro">
                    <button class="btn btn-danger" (click)="loadTabla()">Buscar</button>
                </div>
            </div>
        </section>

        <section class="main ps-2">
            <p-table [value]="reportes" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>N</th>
                        <th>Zona</th>
                        <th>Local</th>
                        <th>Total tareas</th>
                        <th>total articulos</th>
                        <th>porcentaje</th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tarea let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex+1 }}</td>
                        <td>{{ tarea.zona }}</td>
                        <td>{{ tarea.local }}</td>
                        <td>{{ tarea.totalTareas }}</td>
                        <td>{{ tarea.totalArticulos}}</td>
                        <td><p-progressBar [value]="tarea.porcentajeFinalizado" [showValue]="true"></p-progressBar></td>


                    </tr>
                </ng-template>
            </p-table>
        </section>
    </div>
</div>
<div *ngIf="mensaje" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mensaje }}
    <button type="button" class="btn-close" aria-label="Close" (click)="ocultarMensaje()"></button>
</div>