<header class="navbar navbar-expand-md">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-3">
        <span class="h3 textcolorcorp ">NDPP</span>
      </div>
      <div class="col-md">
        <div class="d-flex flex-row">
          <div class="botonhome">
            <a href="#">
              <img src="assets/images/home.png" alt="Inicio">
            </a>
          </div>
          <div *ngIf="pantalla==='inicio'">
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <a class="hand" title="Agregar">
              <img (click)="menu.toggle($event)" src="assets/images/plusicon.png" alt="Agregar">
            </a>
          </div>
          <div *ngIf="pantalla==='inicio'">
            <a  class="hand ms-2 btn btn-sm btn-outline-danger" title="Descargar" >
              <i class="fa fa-download"></i> Descargar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="separadorcorp whitetextcolor">
      {{titulo}}
    </div>
  </div>
</div>

<main style="height: 100%;">
  <router-outlet></router-outlet>
</main>

<footer class="mt-5">
  <div class="container">
    <div class="row fondocorp corpfooter">
      <div class="col-md-6">
        Usuario: (smxadmin) SILVIA CARLINA ABBOUD ABUD (ADMINISTRADOR)
      </div>
      <div class="col-md-2">
        Perfil: ANALISTA DESARROLLO
      </div>
      <div class="col-md-2">
        Formato de negocio:OFICINAS
      </div>
      <div class="col-md">
        Versión: 1.0.0
      </div>
    </div>
  </div>
</footer>
