<div class="locales-content">

    <div *ngIf="tipo===2" class="w-75">
        <span class="ms-2 "> Se ejecutara  cada 4 dias, en las siguientes horas 8:00, 12:00 </span>
    </div>
    <div class=" mt-3">
        <!--<div class="card-header"> <h2> Información de locales </h2></div>-->
        <div class="row ms-3">

            <div class="content">

                <div class="card">
                    <br>
                    <div class="mjflex">
                        <span style="width: 42%"> &nbsp;&nbsp;Configuración, dias de ejecución</span>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col col-md-2">
                                <input class="form-check-input" name="grupo1" type="radio" id="valuecada"
                                       (change)="limpiarSeleccionDias(1)">
                                <label class="form-check-label mr-2">&nbsp;Cada</label>
                            </div>
                            <div class="col col-md-6">
                                <p-dropdown [options]="numeros" [(ngModel)]="selectedCada"
                                            class="small-dropdown"></p-dropdown>
                                <label class="form-check-label mr-2" [style]="{'height':'8px'}">
                                    &nbsp;&nbsp; día(s), empezando en el día &nbsp;&nbsp;</label>


                                    <p-dropdown [options]="numeros" class="small-dropdown"
                                                [(ngModel)]="selectedDesde"></p-dropdown>
                                </div>

                        </div>
                        <br>
                        <div>
                            <div class="col col-md-2">
                                <input class="form-check-input" name="grupo1" type="radio" id="valuecada2"
                                       (change)="limpiarSeleccionDias(2)">
                                <label class="form-check-label">&nbsp;En los dias </label>
                            </div>
                            <div class="row">
                                <div class="col col-md-2"></div>
                                <div class="col col-md-9">
                                    <div class="row">
                                        <div class="col-md-1" *ngFor="let day of days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="{{day}}d" [checked]="selectedNumeros[day]"
                                                       (change)="toggleDias(day)">
                                                <label class="form-check-label"
                                                       for="{{day}}">{{day}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class="col col-md-2">
                                <input class="form-check-input" name="grupo1" type="radio" id="valuecada3"
                                       (change)="limpiarSeleccionDias(3)">
                                <label class="form-check-label">&nbsp;Dias </label>
                            </div>
                            <div class="row">
                                <div class="col col-md-2"></div>
                                <div class="col col-md-9">
                                    <div class="row">
                                        <div class="col-md-3" *ngFor="let day of daysOfWeek">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="{{day}}"
                                                       [checked]="selectedDias[day]" (change)="toggleStringDias(day)">
                                                <label class="form-check-label" for="{{day}}">{{day}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>